
@font-face {
    font-family: 'lemon' ;
    src: url(../fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: 'roboto' ;
    src: url(../fonts/Roboto-Regular.ttf);
}
:root{
    --letra-header: #fff;
    --back-header: #b30006;

    --letra-carrinho-bottom: #fff;
    --back-carrinho-bottom: #000;

    --amarelo-claro: #fffcf1;
    --amarelo: #FFCC29;
    --amarelo-escuro: #aa891c;

    --cinza-escuro:#252323;
    --cinza-medio:#6b6b6d;
    --cinza-claro:#a1a1a3;
    --cinza-fundo:#ebebeb;
}

*{
    padding: 0 ;
    margin: 0 ;
    text-decoration: none;
    font-family: 'lemon' !important;
}
a{
    font-family: 'lemon' !important;

}
h2{
    font-family: 'lemon' !important;
    color: var(--cinza-escuro);
}

p{
    font-family: 'roboto' !important;
}